<footer>
  <div class="nav">
    <div class="home">
      <span class="material-symbols-outlined"> home </span>
      <p><a href="">状態</a></p>
    </div>
    <div class="home">
      <span class="material-symbols-outlined"> home </span>
      <p><a href="">home</a></p>
    </div>
    <div class="home">
      <span class="material-symbols-outlined"> home </span>
      <p><a href="">d</a></p>
    </div>
  </div>
</footer>

<style lang="scss">
  .nav {
    display: flex;
    justify-content: center;
    gap: 32px;
    position: fixed; /* 画面固定 */
    bottom: 0;
    width: 100%;
    padding: 1.6rem 1rem 2rem;
    background-color: #fff;
    box-shadow: 10px;
    .home {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    a {
      text-decoration: none;
      color: #4b5a45;
    }
  }
</style>
