---
import { x_name } from "../const.js";
---

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=home"
/>
<footer>
  <div class="nav">
    <p><a href="">a</a></p>
    <p><a href="">b</a></p>
    <p><a href="">c</a></p>
    <p><a href="">d</a></p>
  </div>
</footer>

<style lang="scss">
  .nav {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 1.6rem 1rem 2rem;
    a {
      text-decoration: none;
      color: #4b5a45;
    }
  }
</style>
